@charset "ISO-8859-1";
*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background-image: url("img.jpg");
	background-size: cover;

}
.displayAll {
	width: 50%;
	top:10%;
	left:40%;
	position:absolute;
	color: #fff;
 h1{
	font-size: 90px;
	text-align: center;
	text-transform: uppercase;
	margin: 40px 0;
}
p{
	font-size: 30px;
	margin: 15px o;
}
.container input{
	font-size: 40px;
	width: 100%;
	padding: 15px 10px;
	border:0;
	outline: :none;
	border-radius:5px;
}
.btn{
	font-size: 40px;
	font-weight: bold;
	margin: 190px 0;
	padding: 10px 15px;
	width:50px;
	border-radius: 5px;
	cursor:pointer;
}